<form id="newsletter" #f="ngForm" (ngSubmit)="onSubmit(f.form)">

  <div class="form-group">
    <label for="name">Name</label>
    <input
      ngControl="name"
      #name="ngForm"
      id="name"
      class="form-control"
      type="text"
      required
      minlength="3"
    />
    <div class="alert alert-danger" *ngIf="name.touched && name.errors">
      <div *ngIf="name.errors.required">Name is required</div>
      <div *ngIf="name.errors.minlength">
        Name minimum length is {{ name.errors.minlength.requiredLength }} 
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      id="email"
      #email="ngForm"
      ngControl="email" 
      class="form-control"
      type="text" 
      required
    />
    <div class="alert alert-danger" *ngIf="email.touched && email.errors">
      <div *ngIf="email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="frequence">Frequency of emails</label>
    <select 
      id="frequence" 
      class="form-control"
      ngControl="emailFrequence">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthy</option>
    </select>
  </div>

  <input class="btn btn-primary" type="submit" value="Subscribe" [disabled]="!f.valid">

</form>
